
    <h1>Welcome to CSE Motors!</h1>
    <div class="spotlight">
        <img class="spotlight-img" src="/images/vehicles/delorean.jpg" alt="Delorean">
        <div class="spotlight-details">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <h3>Own Today</h3>
        </div>
    </div>
    <div class="container">
        <div class="reviews">
            <div class="container-title">
                <h2>DMC Delorean Reviews</h2>
            </div>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's liviin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div class="upgrades">
            <div class="container-title">
                <h2>Delorean Upgrades</h2>
            </div>
            <div class="upgrades-container">
                <div class="upgrade">
                    <img class="upgrade-img" src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <h3>Flux Capacitor</h3>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <h3>Flame Decals</h3>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <h3>Bumper Stickers</h3>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <h3>Hub Caps</h3>
                </div>
            </div>
        </div>
        
    </div>    

